<form action="/named-cat" method="post">
  <ul>
    <li>
      <label for="name">Name:</label>
      <input type="text" name="name">
    </li>
    <li class="button">
      <button type="submit" value="Submit">Submit</button>
    </li>
  </ul>
</form>
